# Thank you for verifying your email address

Now that your email address has been verified we can review your application.

You will receive another email notification once your application has been approved.
